.logo {
	width: 80%;
}

.main-title {
	text-align:right;
	padding: 8%;
	font-family: "Trirong", serif;
	font-size: 350%;
}

.navbar-brand {
	font-size: 23px;
	margin-left: 2%;
}
.row-home {
	align-content: center;
	padding: 2%;
}

.row-accordion {
	padding: 10%;
}

.accordion-button:not(.collapsed) {
	color: #c34528;
	background-color: #d9d9d9;
}

.accordion-button:focus {
	box-shadow: 0 0 0 .25rem rgba(64, 64, 64, .25);
}

.spaziato {
	margin-right:40px;
	margin-left:0;
}

.container {
	width: auto; 
	max-width: none;
}

.secondary-section {
	padding:0px;
	background-color:#f1f1f1;
}

.col-6 {
	padding: 3%;
	margin-top: 1%;
}

.col-3 {
	padding:2%; 
	margin-top: 2%;
}

.col-card {
	margin-top:0;
}

.col-4, .col-9 {
	padding: 2%;
}

.col-1, .col-11 {
	padding-left:0;
}


.col-data, .col-text, .col-data-download {
	background-color:#f2f2f2;
	margin:1%;
	display: inline-block;
}

.icon-container {
	text-align:center;
}

.box-4 {
	padding-left: 4%;
	padding-right:4%;
	font-size:125%;
}

.nota {
	position:bottom;
	font-size: 80%;
	color: #666666 ;
}

.bg-image {
	background-image: linear-gradient(rgba(90, 50, 0, 0.2), rgba(90, 50, 0, 0.2)), url("../img/header/header-img-sf.png");
	height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

.header {
	padding:0; 
	margin top:0;
}

.tab-container, .container-accordion {
	padding:5%;
	background-image: linear-gradient(rgba(90, 50, 0, 0.2), rgba(90, 50, 0, 0.2)), url("../img/home/Pagina-intera2.png");
	height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container-tables, .container-diagram {
	margin-top:2%;
	padding:0;
}


.table {
	background-color:white;
	margin-top:1.5rem;
}

.tab-box {
	background-color:white;
	padding: 1%;
	margin: 1%;
	border: 1px solid black;
}

.btn-link {
	float:right;
	margin-top: 10px;
	margin-right: 3%;
	font-size: 50px;
	color: black;
}

.btn-link:hover {
	color: #a6a6a6;
}

.download {
	float:center;
	font-size: 50px;
	color: black;
}

.download:hover {
	color:#a6a6a6;
}

.btn-link-openfile {
	float:left;
	font-size:25px;
	margin-top:0;
}

.viaf {
	text-decoration:none;
	color:#212529;
}

.viaf:hover {
	text-decoration:underline;
	color:gray;
}

h6 {
	margin-bottom:20px;
	margin-top:40px;
	text-align:center;
	font-size:25px;
}

.h3, .table-title {
	font-family: var(--bs-font-sans-serif);
	padding: 2%;
	background: white;
	margin-top:3%;
	background-color: rgba(64, 64, 64, 0.4);
	border-style:solid;
	border-radius:10px;
	border-width:2px;
	border-color:black;
}

.article-title {
	font-family: "PT serif", serif;
	margin-left: 2%;
	margin-top: 7px;
}

.article-data {
	font-family: "Open Sans", Sans-Serif;
	margin-left: 2%;
	margin-top: 1%;
}

.breadcrumb {
	background-color:#d9d9d9;
	padding: 1%;
	margin-bottom:0;
	border-bottom:1px solid gray;
}

/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: black;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}


.tablink:hover {
  background-color: #777;
  color: white;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 20px 20px;
  height: 100%;
}

#A5 {background-color: white;}
#C5 {background-color: white;}
#E5 {background-color: white;}
#F5 {background-color: white;}

.corpuscard {
	width: 100%;
}

.page-link {
	color:black;
}

.page-item.active .page-link {
	background-color: #555;
	border-color: #212529;
}

/*----------------down---------------*/
.pre-footer {
	background-color: #a6a6a6;
	text-decoration-color: black;
	text-align: left;
	font-size: 120%;
	padding-left:8%;
}

.text-justify {
	font-size:25px;
}

.footer {
	text-align:center;
	background-color:#d9d9d9;
	padding: 5px;
}

.mt-3 {
    margin-top: 1rem;
}
